body {
    width: 100%;
    margin: 0;
    font-family: arial;
    font-size: 18px;
    color: #333;
    background-color: #7FBA9E;
}
h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

a {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #ED8AC2;
}

/*home*/
.home-h1 {
    padding-top: 50px;
    align-self: center;
    font-size: 72px;
}
.home-container {
    display: flex;
    flex-flow: column;
}
.home-icon-container {
    padding: 30px;
    margin-top: 50px;
    width: 800px;
    background-color: rgb(195, 84, 91);
    display: flex;
    flex-flow: row wrap    ;
    justify-content: space-around;
    align-self: center;
    align-content: center;
}
.home-icon {
  border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 15px;
    display: flex;
    flex-flow: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.home-eight-ball {
  background-image: url("/img/8-ball.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.home-coin-flip {
  background-image: url("/img/coin.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.home-idea-gen {
  background-image: url("/img/idea.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.home-random-num {
  background-image: url("/img/random-num.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.home-wheel {
  background-image: url("/img/wheel.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.home-poll {
  background-image: url("/img/poll-2.svg  ");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}



/* ------------  EIGHTBALL STYLES  ------------- */

.eightball-ball {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 250px;
}

.eightball-message-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: white;
}

.eightball-shake-container {
  display: flex;
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: blue;
  display: none;
}

.eightball-message {
  display: flex;
  align-self: center;
  font-size: 14px;
}

/*coin flip*/
#coin-flip-cont {
width: 200px;
height: 200px;
position: absolute;
top: calc(50% - 100px);
left: calc(50% - 100px);
}

#coin {
position: relative;
width: 200px;
transform-style: preserve-3d;
}

#coin .front, #coin .back {
position: absolute;
width: 200px;
height: 200px;
}

#coin .front {
transform: translateZ(1px);
border-radius: 50%;
background: url(/img/coin-front.png);
background-repeat: none;
background-size: cover;
background-position: center;
}

#coin .back {
transform: translateZ(-1px) rotateY(180deg);
border-radius: 50%;
background: url(/img/coin-back.png);
background-repeat: none;
background-size: cover;
background-position: center;
}

#coin.animation900 {
-webkit-animation: rotate900 3s linear forwards; 
animation: rotate900 3s linear forwards;
}

#coin.animation1080 {
-webkit-animation: rotate1080 3s linear forwards; 
animation: rotate1080 3s linear forwards;
}

#coin.animation1260 {
-webkit-animation: rotate1260 3s linear forwards; 
animation: rotate1260 3s linear forwards;
}

#coin.animation1440 {
-webkit-animation: rotate1440 3s linear forwards; 
animation: rotate1440 3s linear forwards;
}

#coin.animation1620 {
-webkit-animation: rotate1620 3s linear forwards; 
animation: rotate1620 3s linear forwards;
}

#coin.animation1800 {
-webkit-animation: rotate1800 3s linear forwards; 
animation: rotate1800 3s linear forwards;
}

#coin.animation1980 {
-webkit-animation: rotate1980 3s linear forwards; 
animation: rotate1980 3s linear forwards;
}

#coin.animation2160 {
-webkit-animation: rotate2160 3s linear forwards; 
animation: rotate2160 3s linear forwards;
}

@-webkit-keyframes rotate900 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
}

@keyframes rotate900 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
}

@-webkit-keyframes rotate1080 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
}

@keyframes rotate1080 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
}

@-webkit-keyframes rotate1260 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1260deg); -moz-transform: rotateY(1260deg); transform: rotateY(1260deg); }
}

@keyframes rotate1260 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1260deg); -moz-transform: rotateY(1260deg); transform: rotateY(1260deg); }
}

@-webkit-keyframes rotate1440 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1440deg); -moz-transform: rotateY(1440deg); transform: rotateY(1440deg); }
}

@keyframes rotate1440 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1440deg); -moz-transform: rotateY(1440deg); transform: rotateY(1440deg); }
}

@-webkit-keyframes rotate1620 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1620deg); -moz-transform: rotateY(1620deg); transform: rotateY(1620deg); }
}

@keyframes rotate1620 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1620deg); -moz-transform: rotateY(1620deg); transform: rotateY(1620deg); }
}

@-webkit-keyframes rotate1800 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}

@keyframes rotate1800 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}

@-webkit-keyframes rotate1980 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
}

@keyframes rotate1980 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
}

@-webkit-keyframes rotate2160 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(2160deg); -moz-transform: rotateY(2160deg); transform: rotateY(2160deg); }
}

@keyframes rotate2160 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(2160deg); -moz-transform: rotateY(2160deg); transform: rotateY(2160deg); }
}

/*idea generator*/
.idea-container {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;

}
.idea-idea {
  padding-top: 50px;
  font-size: 72px;
  text-align: center;
  color: 
}
.idea-button {
  box-sizing: border-box;
  border: solid black 1px;
  align-self: center;
  text-align: center;
  margin-top: 50px;
  width: 80%;
  padding: 50px 0;
  font-size: 48px;
}
.idea-button:hover {
  border: solid #C3545B 1px;
  color: #C3545B;
  width: 85%;
}
.idea-bottom-img {
  width: 100%;
  height: 200px;
  margin-top: 50px;
  background-image: url(/img/idea.svg);
=======
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;

}
.idea-idea {
	padding-top: 50px;
	font-size: 72px;
	text-align: center;
	color: 
}
.idea-button {
	box-sizing: border-box;
	border: solid black 1px;
	align-self: center;
	text-align: center;
	margin-top: 50px;
	width: 80%;
	padding: 50px 0;
	font-size: 48px;
}
.idea-button:hover {
	border: solid #C3545B 1px;
	color: #C3545B;
	width: 85%;
}
.idea-bottom-img {
	width: 100%;
	height: 200px;
	margin-top: 50px;
	background-image: url(/img/idea.svg);
}
/*navbar*/
.navbar {
    width: 100px;
    position: fixed;
    left: 0;
}

/*randomNum */
.randomNum {
 width: 80%;
 text-align: center;
 margin: 0 auto;
}
.randomNum-sliderDiv {
 width: 80%;
 text-align: center;
}
.randomNum-genNumButton{
 font-size: 18px;
 border-radius: 5px;
 background-color: #42aaf4 ;
 color: white;
}
.randomNum-minMax{
 width: 60px;
 font-size: 20px;
}