<style> 
.eightball-ball {
	display: flex;
	justify-content: center;
	width: 500px;
	height: 500px;
	background-color: black;
	border-radius: 250px;
}

.eightball-message-container {
	display: flex;
	align-self: center;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: white;
}

.eightball-shake-container {
	display: flex;
	align-self: center;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: blue;
}

</style>
<h1>Eightball</h1>

<div class="eightball-ball">
	<div class="eightball-message-container">
	</div>
</div>

<script>
	var shaking = false;

	//var shakeIt = function()

</script>