<h2>Airplanes!</h2>
<h5>Create a new plane here</h5>
<form ng-submit="createAirplane()">
  <input type="text" placeholder="Airplane Manufacturer" ng-model="newAirplane.manufacturer">
  <input type="text" placeholder="Airplane Model" ng-model="newAirplane.model">
  <input type="number" placeholder="# of Engines" ng-model="newAirplane.engines">
  <input type="text" placeholder="Image Link" ng-model="newAirplane.image">
  <input type="submit">
</form>

<br>

<ul>
  <h4>List of Planes</h4>
  <li ng-repeat="airplane in airplanes">
    <strong><a ng-href="/airplane/{{airplane._id}}">
      {{airplane.model}}
    </a></strong>
    <br>
      Manufacturer: {{airplane.manufacturer}}
    <br>
      Engines: {{airplane.engines}}
    <br>
    <button ng-click="deleteAirplane(airplane)">Delete</button>
  </li>
</ul>
