<div class="home-container">
  <h1 class="home-h1">Verdct</h1>
  <div class="home-icon-container">
  	<a href="/ideaGen">
	  	<div class="home-icon">
	  		<div class="home-idea-gen"></div>
	  		<div>idea Generator</div>
	  	</div>
  	</a>
  	<a href="/eightball">
	  	<div class="home-icon">
	  		<div class="home-eight-ball"></div>	
	  		<div>eightball</div>	
	  	</div>
  	</a>
  	<a href="/coinFlip">
  		<div class="home-icon">
  			<div class="home-coin-flip"></div>
  			<div>coin flip</div>
  		</div>
  	</a>
  	<a href="/randomNum">
	  	<div class="home-icon">
	  		<div class="home-random-num"></div>
	  		<div>Random Number</div>
	  	</div>
  	</a>
  	<a href="/wheel">	
	  	<div class="home-icon">
	  		<div class="home-wheel"></div>
	  		<div>Wheel</div>
	  	</div>
  	</a>
  	<a href="/poll">
	  	<div class="home-icon">
	  		<div class="home-poll"></div>
	  		<div>Poll</div>
	  	</div>
  	</a>
  </div>
</div>  